@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<script src="//cdn.bootcss.com/jquery-ajax-unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>*@
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script>
        function del(id) {
            var remove = confirm("Are you sure you want to delete this record?");
            if (remove == true) {
                $('#' + id).submit();
            }
            else {
                return false;
            }
        }
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="Default.aspx">
                <div class="navbar-brand">Bestrade Inc.</div>
            </a>
            <!-- end brand icon  -->
            <ul class="nav navbar-nav">
                <li>
                    <a href="Default.aspx">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
                <!-- end home glyphicon -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Go To
                            <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="~/purchase">Purchase</a></li>
                        <li><a href="~/shipment">Shipment</a></li>
                        <li><a href="~/pack">Pack</a></li>
                        <li><a href="~/pack">Pack Shipment</a></li>
                        <li><a href="~/Overview">Overview</a></li>
                        <li><a href="~/fba">FBA</a></li>
                        <li><a href="~/mod">Mod</a></li>
                    </ul>
                </li>
                <!-- end dropdown menu -->
            </ul>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">@ViewBag.Title</a></li>
                </ul>
            </div>
            <!-- end nav container -->
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
