<div>
    @model List<Bestrade.Models.Company>
    @{
        ViewBag.Title = "Company";
    }
    <table class="table">
        <tr>
            <th>Companies</th>
        </tr>
        <tr>
            <td>
                <ul class="list-unstyled">
                    @foreach (var a in Model)
                    {
                        <li>@Html.ActionLink(a.company, "ShipmentFromCompany", new { company = a.company })</li>
                    }
                </ul>
            </td>
        </tr>
    </table>
</div>