@{
    ViewBag.Title = "UpdateView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Bestrade.Models.PackShipment
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="well">
            @using (Html.BeginForm("UpdatePackShipment", "PackShipment", FormMethod.Post))
            {
                <table class="table">
                    <tr>
                        <td>Purchase</td>
                        <td>@Html.TextBox("purchase", Model.purchase, new { @class = "form-control", @readonly = true })</td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td>@Html.TextBox("sku", Model.sku, new { @class = "form-control", @readonly = true })</td>
                    </tr>
                    <tr>
                        <td>Shipment</td>
                        <td>@Html.TextBox("shipment", Model.shipment, new { @class = "form-control", @readonly = true })</td>
                    </tr>
                    <tr>
                        <td>QTY</td>
                        <td>@Html.TextBox("qty", Model.qty, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="提交" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
