@model Bestrade.Models.Purchase

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Update Purchase";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="well">
            @using (Html.BeginForm("UpdatePurchase", "Purchase", FormMethod.Post))
            {
                @Html.Hidden("return_view", ViewData["return_view"])
                <table class="table">
                    <tr>
                        <td>Purchase</td>
                        <td>@Html.TextBox("purchase", Model.purchase, new { @readonly = true, @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>@Html.TextBox("date", Model.date.ToShortDateString(), new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Supplier</td>
                        <td>@Html.TextBox("supplier", Model.supplier, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="提交" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
